node_modules

# Android build files (EAS Build generates these automatically)
android/
ios/
.expo/
dist/
# Admin Panel
admin-panel/node_modules/
admin-panel/client/node_modules/
admin-panel/.env
admin-panel/client/build/

# Expo
.expo/
.expo-shared/
